.phragraph{
    color: red;
    font-size: 20px;
    background-color: black;
}
.h4{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 106);
}

.clzselector{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 106);
}